
@import "../main.scss";

.topbar-item {
  margin: .5rem;

  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

.back-to-home {
  color: $content_color;

  a:visited {
    color: #fff;
    font-weight: bolder;
  }
  span {
    border: solid 2px #fff;
    border-radius: .5rem;
    display: inline-block;
    padding: .3rem;
  }
}

.searhbox {
  color: $func_font_color;
}

.service-name {
  color: $func_font_color;
  font-size: 1.75rem;
  font-family: 'PT Sans Narrow', lekton, sans-serif;
  left: 50%;
  margin: .35rem .75rem;
  opacity: .5;
  position: absolute;
  transition: opacity ease-in 85ms;
  top: 1.25rem;
}

.article-title {
  color: $func_font_color;
  margin-left: 2rem;
}

.account-menu {
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
  border-radius: .5rem;
  display: inline-block;
  margin: .5rem;
  padding: .5rem 1rem;
}

.input-box {
  margin: 0 auto;
  width: 60%;

  fieldset {
    border-radius: .75rem;
    padding: 1.5rem;
  }

  li {
    list-style: none;
    margin: .75rem 0;
  }

  .submit-button {
    transition: 0.25s ease-in-out;
    border-radius: .5rem;
    background: rgba(35, 112, 208, 0.86);
    border-color: rgba(94, 113, 222, 0.99);
    color: #fefefe;
    padding: .35rem 1.75rem;
  }
}