
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

$base_color: #026aa7;
$base_font_color: #333;
$func_font_color: #fff;
$content_color: #fff;

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
