
@import "../main.scss";

#l-contents {
  color: $base_font_color;
  height: 95%;
  margin: 0;
  width: 100%;

  .l-wrapper {
    height: 100%;
  }
  .l-header {
    background: rgba(0,0,0,.15);
    border-radius: .5rem;
    height: 3.5rem;
    margin: 1rem;

    & a:visited {
      color: $func_font_color;
    }
  }
  .l-main {
    @extend .l-header;
    height: 80%;
  }
}



