@import "../main.scss";

html, body {
  background: $base_color;
  font-family: lecton, 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    opacity: .6;
    color: #d4d4d4;
  }
  &:visited {
    text-decoration: none;
  }
}

input {
  border-radius: .5rem;
  border: solid 2px #cacaca;
  font-style: oblique;
  padding: .375rem;
}
